[Unit]
Description=Asus Touchpad to Numpad Handler

[Service]
Type=simple
ExecStart=/usr/share/asus_touchpad_numpad-driver/asus_touchpad.py $LAYOUT $PERCENTAGE_KEY
StandardInput=tty-force
TimeoutSec=5

[Install]
WantedBy=default.target
