[Unit]
Description=Asus Touchpad to Numpad Handler
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/asus_touchpad_numpad-driver/asus_touchpad.py $LAYOUT $PERCENTAGE_KEY
StandardInput=tty-force
StandardOutput=/var/log/asus_touchpad_numpad-driver/error.log
StandardError=/var/log/asus_touchpad_numpad-driver/error.log
TimeoutSec=5
Restart=on-failure
# For some operating systems with boot failure, adding this following property might resolve the issue
# ExecStartPre=/bin/sleep 2

[Install]
WantedBy=default.target
