[Unit]
Description=Asus Touchpad to Numpad Handler

[Service]
Type=idle
ExecStart=/usr/share/asus_touchpad_numpad-driver/asus_touchpad.py $LAYOUT $PERCENTAGE_KEY
#StandardInput=tty-force
StandardOutput=kmsg
StandardError=kmsg
TimeoutSec=5
Restart=on-failure
RestartSec=2
# For some operating systems with boot failure, adding this following property might resolve the issue  
# ExecStartPre=/bin/sleep 2

[Install]
WantedBy=default.target
