[Unit]
Description=Asus Touchpad to Numpad Handler
After=sddm.service display-manager.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/ux433_touchpad_numpad.py
StandardInput=tty-force
TimeoutSec=5

[Install]
WantedBy=default.target